.resultsContainer {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.imageContainer {
  position: relative;
}

.characterImage {
  width: 180px;
  height: 220px;
  padding: 0 30px 30px 30px;
}

